
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "layout";
@import "navigation";
@import "buttons";

@import "picker";

body{

    // Use this so our images dont get deformed
    min-width: 300px;


    #content{

        min-height: 50vh;
        margin-top: 15vh;
    }

    .btn{

        font-size: 16px;

        &.forgot-password{
            margin-top: 15px;
        }
    }

    .simplert{
        z-index: 1040; // Remove to put nav on top

        .simplert__title{
            font-size : 20px;
        }

        .simplert__content{
            
        }

        .simplert__close, .simplert__confirm {
            margin: 0px 0.4em;
        }
    }
}
