nav.navbar{

    a#logo{
        background-image: url('img/logo.svg');
        display: block;
        background-repeat: no-repeat;
        text-indent: -99999px;
            padding: 20px 60px;
    background-position: 25% center;
    background-size: 80%;
    max-width: 40%;
    width: 160px;
    height: 100%;
    }

    li{
        a {
            padding-top: 19px;
            padding-bottom: 18px;
            font-size: 16px;
        }
    }


    .navbar-toggle{
        border: none;
        padding: 15px 10px;
    }
}
// Create media queries
        
@media screen and (max-width: 360px) {
    nav.navbar{

        a#logo{
            padding: 20px 0px;
            background-size: 60%;
        }
    }
}

@media screen and (max-width: 768px){
    nav.navbar{

        a#logo{
            background-size: 60%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  nav.navbar{

        a#logo{
            width: 120px;
        }
    }
}