#picker-container{

    margin-bottom: 60px;

    .picker-actions{
        margin-top: 20px;
    }

    .slick-track{
        height: 45vh;
    }

    .slick-slide{
        display: flex; align-items:center;

        img{
            width: 100%;    
        }
    }
}

#info{
    border-radius: 0;
    background-color :#edf2f5;


    h6.info-title{
        margin-top : 5px;
        margin-bottom :0;
        padding-bottom: 16px;
        border-bottom: 1px solid #BAC1C8;
    }

    .info-bio{
        font-size: 0.8em;
        padding: 10px 0;
    }
}