#picker-container{

    margin-bottom: 30px;

    .picker-actions{
        height: 0;
        position: relative;
        bottom: 40px;
        right: 2px;
    }

    .slick-track{
        min-height: 45vh;
        max-height: 350px;
    }

    .slick-slide{
        display: flex; align-items:center;

        vertical-align: middle;

        &:hover,
        &:focus{
            outline: none;
        }

        img{
            left : 50%;
            vertical-align: middle;
            max-width: 300px;
            width: 300px;
            position: relative;
            transform: translate(-50%, -0%);
        }
    }
}

#info{
    border-radius: 0;
    background-color :#edf2f5;


    h6.info-title{
        margin-top : 15px;
        margin-bottom :0;
        padding-bottom: 16px;
        border-bottom: 1px solid #BAC1C8;
    }

    .info-bio{
        font-size: 0.8em;
        padding: 10px 0;
    }
}